.App {
    .table {
        margin: 10vh auto auto;
        width: 80%;

        table {
            tr {
                cursor: pointer;
            }
        }
    }

    .user {
        display: flex;
        justify-content: right;
        margin: 3rem;
    }

    .transaction {
        display: flex;
        justify-content: right;
        margin-bottom: 3rem;
    }
}